.form-control{
    border-radius: 0;
    height: 45px;
}
label{
    margin: 20px 0 10px;
}
button{
    background-color: #fb7035 !important;
    color: #fff !important;
    font-size: 20px !important;
    font-weight: bold !important;
    text-transform: uppercase;
    margin: 50px 0;
}
h1{
    font-family: 'Roboto Slab', serif;
    color: green;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 25px;
    position: relative;
    margin-top: 50px;
}
h1::after {
    border: 1px dashed green;
    bottom: 0;
    content: "";
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 340px;
}
h1::before {
    border: 2px solid green;
    bottom: 0;
    content: "";
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 90px;
}


/*read page start*/
table{
    border: 1px solid #000;
    margin: 80px 0;
    text-align: center;
}
td{
    border-bottom: 1px solid #000;
}